body {
    background-color: white
    }
    
    
    
    .block_create {
    padding: 20px;
    width: 350px;
    background-color: green
    }
    
    
    
    .block_update {
    padding: 20px;
    width: 350px;
    background-color: blue
    }
    
    
    
    .block_read {
    padding: 20px;
    width: 350px;
    background-color: yellow
    }
    
    
    
    .block_delete {
    padding: 20px;
    width: 350px;
    background-color: red
    }
